.menu{
    margin-top: 115px;
}
.menu__top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__title{
    font-size: 16px;
    font-weight: 500;
    font-family: rob;
    color: #DC780B;
    margin-bottom: 9px;
}
.menu__subtitle{
    font-size: 31px;
    font-weight: 700;
    font-family: phil;
    color: #150C01;
    margin-bottom: 25px;
}
.menu__desc{
    text-align: center;
    max-width: 748px;
    font-size: 16px;
    font-family: rob;
    color: #150C01;
    margin-bottom: 60px;
}
.menu__wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.menu__card{
    width: 384px;
    padding: 12px;
    border: 1px solid #0000001A;
    border-radius: 15px;
}
.image{
    width: 100%;
    height: 240px;
    object-fit: contain;
}
.all{
    display: flex;
    align-items: center;
}
.title{
    flex: 1;
    font-size: 25px;
    font-weight: 700;
    font-family: phil;
    color: #150C01;
    margin-bottom: 20px;
}
.desc{
    font-size: 16px;
    font-family: rob;
    color: #150C01;
    margin-bottom: 20px;
}
.stars{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    padding: 8px 12px;
    border: none;
    background-color: #DC780B;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
}
.btns{
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #DC780B;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: rob;
    display: block;
}




@media (max-width:1150px) {
    .menu__wrapper{
        grid-template-columns: repeat(2,1fr);
        padding-left: 60px;
    }
    .menu__card{
        text-align: center;
    }
}
@media (max-width:1000px) {
    .menu__wrapper{
        grid-template-columns: 1fr;
        margin-left: 200px;
    }
}
@media (max-width:650px) {
    .menu__wrapper{
        margin-left: 0;
    }
}
@media (max-width:550px) {
    .menu__card{
        width: 350px;
    }
}
@media (max-width:450px) {
    .menu__subtitle{
        font-size: 20px;
    }
    .menu__card{
        width: 330px;
    }
}