.about{
    margin-top: 123px;
}
.about__wrapper{
    display: flex;
    align-items: center ;
    gap: 97px;
}
.about__text{
    max-width: 488px;
}
.about__title{
    font-size: 16px;
    color: #DC780B;
    font-weight: 500;
    font-family: rob;
    margin-bottom: 9px;
}
.about__subtitle{
    font-size: 31px;
    font-weight: 700;
    font-family: phil;
    margin-bottom: 30px;
    color: #150C01;
}
.about__desc{
    font-size: 16px;
    font-family: rob;
    color: #150C01;
    margin-bottom: 29px;
}
.about__btn{
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    font-family: rob;
    color: #fff;
    background-color: #DC780B;
    border: none;
    border-radius: 10px;
    transition: .5s;
}
.about__btn:hover{
    background-color: #000;
    transform: translateY(-10px);
}



@media (max-width:850px) {
    .about__wrapper{
        flex-direction: column;
    }
}
@media (max-width:650px) {
    .about__img img{
        max-width: 450px;
    }
    .about__text{
        max-width: 450px;
    }
    .about__subtitle{
        font-size: 27px;
    }
}
@media (max-width:550px) {
    .about__wrapper{
        gap: 35px;
    }
    .about__img img{
        max-width: 350px;
    }
    .about__text{
        max-width: 350px;
    }
    .about__title{
        text-align: center;
    }
    .about__subtitle{
        font-size: 24px;
    }
    .about__subtitle{
        font-size: 25px;
    }
    .about__btn{
        padding: 10px 10px;
        font-size: 14px;
    }
}
