.feat{
    margin-top: 115px;
}
.feat__titles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feat__title{
    font-size: 16px;
    font-weight: 500;
    color: #DC780B;
    font-family: rob;
    margin-bottom: 7px;
}
.feat__subtitle{
    font-size: 31px;
    font-weight: 700;
    font-family: phil;
    margin-bottom: 44px;
}
.feat__wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 90px;
}
.feat__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feat__card img{
    margin-bottom: 33px;
}
.feat__descs{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.feat__inf{
    font-size: 25px;
    color: #150C01;
    font-family: phil;
    font-weight: 700;
}
.feat__desc{
    font-size: 16px;
    font-weight: 400;
    font-family: rob;
    text-align: center;
    color: #150C01;
}


@media (max-width:1100px) {
    .feat__wrapper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
    .feat__card{
        background-color: #ddd;
        width: 600px;
        height: 300px;
        padding: 20px 0;
        border-radius: 10px;
        margin: 0 auto;
    }
}
@media (max-width:650px) {
    .feat__card{
        width: 450px;
    }
}
@media (max-width:550px) {
    .feat__card{
        width: 350px;
    }
}
